body{
    background-image: url('/Fon.png');

}
header{
  /*margin-top: 200px;*/
  font-family: Roboto Thin, arial;
}
.dws-menu *{
  margin: 0;
  padding: 0;
}
.dws-menu ul,
.dws-menu ol{
  list-style: none;
}
.dws-menu > ul{
  display: flex;
  justify-content: center;
}
.dws-menu > ul li .mainHref{
  display: block;
  background:  #ececed; /*Это бэкграунд меню*/
  padding: 15px 30px 15px 30px;
  font-size: 14px;
  color: #454547; /*Цвет букв*/
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.dws-menu > ul li{
  position: relative;
  border-right: 1px solid #c7c8ca; /*Линии между разделами меню*/
}
.dws-menu > ul li:first-child{
  border-left: 1px solid #454547; /*Линия в начале меню*/
}
.dws-menu > ul li:last-child{
  border-right: 1px solid #454547; /*Линия в конце меню*/
}
.dws-menu li .mainHref:hover{
  background: #454547; /*Заполнение кнопок при наведении "Темно серый цвет"*/
  color: #ffffffff; /*Цвет букв в меню*/
  box-shadow: 1px 5px 10px -5px black; /*Тень и ее стиль*/
  transition: all 0.3s ease;
}

/*Под меню*/
.dws-menu li ul{
  position: absolute;
  min-width: 150px;
  display: none;
}
.dws-menu li > ul li{
  border: 1px solid #c7c8ca; /*Окнантовка подменю*/
}
.dws-menu li > ul li .mainHref{
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
}
.dws-menu li > ul li ul{
  position: absolute;
  right: -150px;
  top: 0;
}
.dws-menu li:hover > ul{
  display: block;
}
