body{
    background-image: url('/Fon.png');

}
header{
  /*margin-top: 200px;*/
  font-family: Roboto Thin, arial;
}
.dws-menu *{
  margin: 0;
  padding: 0;
}
.dws-menu ul,
.dws-menu ol{
  list-style: none;
}
.dws-menu > ul{
  display: flex;
  justify-content: center;
}
.dws-menu > ul li .mainHref{
  display: block;
  background:  #ececed; /*Это бэкграунд меню*/
  padding: 14.5px 35px 15px 34px;
  font-size: 15px;
  color: #454547; /*Цвет букв*/
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.dws-menu > ul li{
  position: relative;
/* border-right: 1px solid #c7c8ca; Линии между разделами меню*/
}
.dws-menu > ul  li > .mainHref i.fa{
  position: absolute;
  top: 13px;
  left: 10px;
  font-size: 18px;
}
.dws-menu > ul li:first-child{
  /*border-left: 1px solid #454547; Линия в начале меню*/
}
.dws-menu > ul li:last-child{
  /*border-right: 1px solid #454547; Линия в конце меню*/
}
.dws-menu li .mainHref:hover{
  background: #81b931; /*Заполнение кнопок при наведении "Темно серый цвет"*/
  color: #ffffffff; /*Цвет букв в меню*/
  box-shadow: 1px 5px 10px -5px black; /*Тень и ее стиль*/
  transition: all 0.3s ease;
}

/*Под меню*/
.dws-menu li  ul{
  position: absolute;
  min-width: 150px;
  display: none;
}
.dws-menu li > ul li{
   /*border: 1px solid #c7c8ca; Окнантовка подменю*/
}
.dws-menu li > ul li .mainHref{
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
}
.dws-menu li > ul li ul{
  position: absolute;
  right: -150px;
  top: 0;
}
.dws-menu li:hover > ul{
  display: block;
}
.fa-file-word, .fa-file-powerpoint{
  color: #7062fc;
  padding: 10px;
}
.fa-file-powerpoint{
  color: rgb(230, 66, 45);
}

.BittlyHref {
  display: inline-block;
  position: relative;
  color: #7062fc;
  text-decoration: none;
  padding: 0.2px 0.05px;
  border-bottom: 2px solid #81b931;
}

.BittlyHref:hover {
  color: #efefef;
}

.BittlyHref:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #81b931;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0.000, 0.590, 1.000, 0.260);
}

.BittlyHref:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #81b931;
  z-index: -1;
}
.Hrefs{
  position: absolute;
  margin: 0;
  left: 100px;
  top: 65px;
  font-size: 16px;
  font-family: Philosopher, arial;
}
.Ava{
  width: 300px;
  height: 300px;
  position: relative;
  left: 200px;
  top: 100px;
  padding: 0 50px;
  z-index: -11;
}
